$text-color: #FFFFFF;
$bg-color: #272426;
$header-bg-color: #1C9FB1;

$input-text-color: #222222;
$input-focus-color: #2392F3;
$input-placeholder-color: #999999;
$error-color: #FF9494;

$key-bg-color: #000;//#eff0f2;
$key-text-color: #FFFFFF;
$key-border-color: #f5f5f5;
$key-text-shadow-color: #f5f5f5;
$key-active-bg-color: #000;//#ebeced;
$key-active-box-shadow: #333333;
$key-active-text-color: #888888;

$keyHover-bg-color: #1C9FB1;
$keyHover-border-color: #FFFFFF;

$configuration-bg-color: #4F5153;
$grid-bg-color: #736C70;

$button-bg-color1: #1C9FB1;
$button-bg-color2: #415D79;
$button-text-color: #f2f2f2;
$button-text-shadow: #334f71;
$button-border-color: #556f8c;

$box-shadow-color: #999999;
$dialog-bg-color: #FFFFFF;
$dialog-text-color: #000000;