@import "compass/css3";
@import "_colors.scss";
@import "_fonts.scss";

body {
    width: 100%;
    margin: 0;
    color: $text-color;
    background: $bg-color;
    font-family: "Open Sans Condensed", sans-serif, Helvetica, sans-serif;
    letter-spacing: 0.5px;

    fieldset {
        padding: 30px;
        border: none;

        label {
            letter-spacing: 0.8px;
            color: $text-color;
        }

        legend {
            line-height: 0.5em;
            color: $text-color;
            font-size: 1.7em;
            font-family: 'Open Sans Condensed', sans-serif, Helvetica, sans-serif;
            text-transform: uppercase;
        }
    }

    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }

    input[type="text"] {
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
        transition: all 0.2s linear;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 13px;
        color: $input-text-color;
        position: relative;

        &:focus {
            box-shadow: 0 1px 0 $input-focus-color inset, 0 -1px 0 $input-focus-color inset, 1px 0 0 $input-focus-color inset, -1px 0 0 $input-focus-color inset, 0 0 4px rgba(35, 146, 243, 0.5);
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $input-placeholder-color;
        }

        &:-moz-placeholder {
            color: $input-placeholder-color;
        }
    }

    .is-hidden {
        display: none;
    }
}

.key, [id*="keyOnGrid"] {
    background: $key-bg-color;
    border-top: 1px solid $key-border-color;
}

.key, [id*="keyOnGrid"], .keyHover {
    color: $key-text-color;
    font-size: 17px;
    padding: 10px 0;
    font-family: inherit;
    font: arial;
    text-decoration: none;
    text-align: center;
    @include border-radius(4px);
    @include box-shadow(inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-shadow: 0px 1px 0px $key-text-shadow-color;
}

.keyHover {
    display: none;
    position: absolute;
    background-color: $keyHover-bg-color;
    background-color: #e3e3e3;
    opacity: 0.8;
    border: 2px solid $keyHover-border-color;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 1;
}

.key {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 10px 0 20px 0;
}

header {
    background-color: $header-bg-color;

    .site-title {
        display: inline-block;
        padding: 40px 20px 40px 70px;
        margin: 0;
        line-height: 0.8em;
        color: $text-color;
        font-size: 1.7em;
        font-family: 'Open Sans Condensed', sans-serif, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .logo {
        background: url("../img/log.png") no-repeat;
        height: 92px;
        width: 200px;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 101px;
        margin-right: 50px;
        font-size: 16px;
        text-align: center;
        overflow: hidden;

        .menu {
            height: auto;
            padding: 0;
            margin: 0px;
            list-style: none;

            li {
                @include transition(background-color 300ms ease-in-out, color 250ms ease-in-out);
                float: left;

                &:hover {
                    @include transition(background-color 300ms ease-in-out, color 250ms ease-in-out);
                    background: $bg-color;
                }

                a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    line-height: 101px;
                    color: $text-color;
                    //padding: 8px 8px 8px 8px;
                }

                .is-active {
                    background: $bg-color;
                }
            }
        }
    }
}


footer {
    height: 120px;
    @include background(linear-gradient(bottom, $grid-bg-color 0%, $bg-color 95%));
    //background: $grid-bg-color;

   .lisp-logo {
       img {
           width: 100px;
           float: right;
           padding: 20px 50px;
       }
   }
}



