@import "compass/css3";
@import "_colors.scss";
@import "_fonts.scss";

.configuration {
    position: relative;
    display: block;
    padding: 100px 50px;
    background: url("../img/keyboard-bw.jpg") $configuration-bg-color;
    background-position: center top;
    background-size: 100% auto;

    form {
        //position: absolute;
        //left: 50px;
        display: inline-block;
    }

    .save-section {
        display: inline-block;
        float: right;
        //@include background(linear-gradient(bottom, #736C70 0%, #272426 95%));

        .save-buttons {
            display: block;
        }

        .btn-save, #fileinput::before {
            border: 1px solid $button-border-color;
            @include border-radius(5px);
            @include background(linear-gradient(top, $button-bg-color1 0%, $button-bg-color2 100%));
            cursor: pointer;
            color: $button-text-color;
            text-transform: uppercase;
            text-shadow: 0px -1px 0px $button-text-shadow;
            text-align: center;
            -moz-box-shadow: 0px 0px 5px $box-shadow-color;
            -webkit-box-shadow: 0px 0px 5px $box-shadow-color;
        }

        .btn-save {
            width: 125px;
            height: 40px;
            padding: 10px 15px;
            vertical-align: top;
        }

        #fileinput {
            margin-left: 25px;
            height: 40px;
            color: transparent;

            &::-webkit-file-upload-button {
                visibility: hidden;
            }

            &::before {
                content: 'Wczytaj klawiaturę';
                display: block;
                padding: 12px 15px;
                width: 170px;
                height: auto;
            }
        }
    }
}

.grid-container {
    background: $grid-bg-color;
    padding-right: 0;
    //width: 100%;
    //height: 100%;
    //overflow-x: scroll;

    .grid {
        height: 0;
        width: 0;
        background: $grid-bg-color;

        [id*="keyOnGrid"] {
            cursor: pointer;
        }

        [id*="keyOnGrid"]:active {
            color: $key-active-text-color;
            background: $key-active-bg-color;
            /*margin: 7px 5px 3px;*/
            margin: 1px 0 0 0;
            -webkit-box-shadow: inset 0 0 2px #ddd, 0 0 3px $key-active-box-shadow;
            -moz-box-shadow: inset 0 0 2px #ddd, 0 0 3px $key-active-box-shadow;
            box-shadow: inset 0 0 2px #ddd, 0 0 3px $key-active-box-shadow;
            /*border-top: 1px solid #eee;*/
        }
    }
}

#combos {
    padding: 45px 50px;
    @include background(linear-gradient(top, $grid-bg-color 0%, $bg-color 95%));

    .add-combo {
        width: 160px;
        height: 40px;
        padding: 10px 10px;
        @include box-shadow(0px 0px 5px #999);
        border: 1px solid $button-border-color;
        @include border-radius(5px);
        @include background(linear-gradient(top, $button-bg-color1 0%, $button-bg-color2 100%));
        cursor: pointer;
        color: $button-text-color;
        text-transform: uppercase;
        text-shadow: 0px -1px 0px $button-text-shadow;
        text-decoration: none;
        cursor: pointer;
    }

    .myCombo {
        padding-top: 8px;

        &:first-child {
            margin-top: 25px;
        }

        .composed-letter {
            margin-right: 10px;
            width: 20px;
        }

        .finger-label {
            margin: 0 0px 0 10px;
        }

        .equals-sign, .plus-sign {
            margin-right: 10px;
        }

        .combo-key {
            width: 40px;
        }

        .finger {
            width: 40px;
            margin-right: 10px;
        }
    }

    .remove {
        width: 125px;
        height: 40px;
        padding: 2px 9px;
        margin: 150px 15px 0 0;
        @include box-shadow(0px 0px 5px $box-shadow-color);
        @include border-radius(5px);
        border: 1px solid $button-border-color;
        @include background(linear-gradient(top, $button-bg-color1 0%, $button-bg-color2 100%));
        cursor: pointer;
        color: $button-text-color;
        text-transform: uppercase;
        text-shadow: 0px -1px 0px $button-text-shadow;
        text-align: center;
        font-size: 12px;
    }
}

#hands {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    //@include background(linear-gradient(top, $grid-bg-color 0%, $bg-color 95%));

    img {
        width: 100%;
        height: 100%;
    }

    .hand-left, .hand-right {
        text-indent: -9999px;
        margin: 50px 0;
        width: 25%;
    }

    .hand-left {
        float: left;
        background: url("../img/hand-left-no.png") no-repeat 0 0;
        background-size: 100%;

    }

    .hand-right {
        float: right;
        background: url("../img/hand-right-no.png") no-repeat 0 0;
        background-size: 100%;

    }
}

.alertBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: $dialog-text-color;
}

#alertContent {
    position: absolute;
    margin: -100px 0 0 -230px;
    width: 400px;
    padding: 30px;
    background: $dialog-bg-color;
    text-align: center;
    z-index: 99999;
    @include border-radius(10px);

    #closeAlertBtn {
        width: 125px;
        height: 40px;
        padding: 10px 15px;
        margin: 0 15px 0 0;
        -moz-box-shadow: 0px 0px 5px $box-shadow-color;
        -webkit-box-shadow: 0px 0px 5px $box-shadow-color;
        border: 1px solid $button-border-color;
        @include border-radius(5px);
        @include background(linear-gradient(top, $button-bg-color1 0%, $button-bg-color2 100%));
        cursor: pointer;
        color: $button-text-color;
        text-transform: uppercase;
        text-shadow: 0px -1px 0px $button-text-shadow;
    }

    #alert {
        margin-bottom: 30px;

        .alertMessage {
            color: $dialog-text-color;
            font-weight: bold;
        }
    }
}

#key-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: $dialog-text-color;

    .dialog-content {
        position: absolute;
        //top: 50%;
        //left: 50%;
        margin: -100px 0 0 -230px;
        width: 400px;
        padding: 30px;
        background: $dialog-bg-color;
        @include border-radius(10px);

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding-bottom: 10px;

                &:last-child {
                    margin-top: 20px;
                }
            }
        }

        #alphanumerical {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .has-error {
            border: 2px solid $error-color;
        }

        #error-message {
            display: none;
            color: $error-color;
            font-weight: bold;
            font-size: 14px;
        }

        .sign-type-block {
            label[for] {
                display: inline-block;
                cursor: pointer;
                position: relative;
                padding-left: 25px;
                margin-right: 15px;

                &:before {
                    position: absolute;
                    display: inline-block;
                    left: 0;
                    bottom: 1px;
                    content: "";
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                    padding: 1px;
                    background-color: #f3f3f3;
                    @include border-radius(8px);
                    @include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8));
                }
            }

            input[type=radio] {
                display: none;
            }

            input[type=radio]:checked + label:before {
                content: "\2022";
                color: $button-bg-color1;
                font-size: 30px;
                text-align: center;
                line-height: 18px;
            }

            .sign-title {
                display: block;
            }

            div {
                padding-left: 20px;
            }
        }

        label[for="is-default-finger"] {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            margin-right: 15px;

            &:before {
                position: absolute;
                display: inline-block;
                left: 0;
                bottom: 1px;
                content: "";
                width: 16px;
                height: 16px;
                margin-right: 10px;
                padding: 2px;
                background-color: #f3f3f3;
                @include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8));
            }
        }

        #is-default-finger {
            display: none;
        }

        #is-default-finger:checked + label:before {
            content: "\221a";
            color: $button-bg-color1;
            font-size: 21px;
            text-align: center;
            line-height: 18px;
            padding: 2px;
        }

        .dialog-keys {
            margin: auto;
            width: 280px;
        }

        .key-submit, .key-remove {
            float: left;
            text-align: center;
        }

        .key-submit .btn-submit,
        .key-remove .btn-remove,
        .btn-save {
            width: 125px;
            height: 40px;
            padding: 10px 15px;
            margin: 0 15px 0 0;
            -moz-box-shadow: 0px 0px 5px $box-shadow-color;
            -webkit-box-shadow: 0px 0px 5px $box-shadow-color;
            border: 1px solid $button-border-color;
            @include border-radius(5px);
            @include background(linear-gradient(top, $button-bg-color1 0%, $button-bg-color2 100%));
            cursor: pointer;
            color: $button-text-color;
            text-transform: uppercase;
            text-shadow: 0px -1px 0px $button-text-shadow;
        }
    }
}