@font-face {
  font-family: 'Open Sans Condensed';
  src: url("OpenSans-CondLight.ttf");
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url("OpenSans-CondBold.ttf");
}

/* line 5, ../scss/base.scss */
body {
  width: 100%;
  margin: 0;
  color: white;
  background: #272426;
  font-family: "Open Sans Condensed", sans-serif, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
/* line 13, ../scss/base.scss */
body fieldset {
  padding: 30px;
  border: none;
}
/* line 17, ../scss/base.scss */
body fieldset label {
  letter-spacing: 0.8px;
  color: white;
}
/* line 22, ../scss/base.scss */
body fieldset legend {
  line-height: 0.5em;
  color: white;
  font-size: 1.7em;
  font-family: 'Open Sans Condensed', sans-serif, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 31, ../scss/base.scss */
body [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
/* line 41, ../scss/base.scss */
body input[type="text"] {
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
}
/* line 51, ../scss/base.scss */
body input[type="text"]:focus {
  box-shadow: 0 1px 0 #2392f3 inset, 0 -1px 0 #2392f3 inset, 1px 0 0 #2392f3 inset, -1px 0 0 #2392f3 inset, 0 0 4px rgba(35, 146, 243, 0.5);
  outline: none;
}
/* line 56, ../scss/base.scss */
body input[type="text"]::-webkit-input-placeholder {
  color: #999999;
}
/* line 60, ../scss/base.scss */
body input[type="text"]:-moz-placeholder {
  color: #999999;
}
/* line 65, ../scss/base.scss */
body .is-hidden {
  display: none;
}

/* line 70, ../scss/base.scss */
.key, [id*="keyOnGrid"] {
  background: black;
  border-top: 1px solid whitesmoke;
}

/* line 75, ../scss/base.scss */
.key, [id*="keyOnGrid"], .keyHover {
  color: white;
  font-size: 17px;
  padding: 10px 0;
  font-family: inherit;
  font: arial;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
  -moz-box-shadow: inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
  box-shadow: inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-shadow: 0px 1px 0px whitesmoke;
}

/* line 90, ../scss/base.scss */
.keyHover {
  display: none;
  position: absolute;
  background-color: #1c9fb1;
  background-color: #e3e3e3;
  opacity: 0.8;
  border: 2px solid white;
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

/* line 103, ../scss/base.scss */
.key {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 10px 0 20px 0;
}

/* line 111, ../scss/base.scss */
header {
  background-color: #1c9fb1;
}
/* line 114, ../scss/base.scss */
header .site-title {
  display: inline-block;
  padding: 40px 20px 40px 70px;
  margin: 0;
  line-height: 0.8em;
  color: white;
  font-size: 1.7em;
  font-family: 'Open Sans Condensed', sans-serif, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 125, ../scss/base.scss */
header .logo {
  background: url("../img/log.png") no-repeat;
  height: 92px;
  width: 200px;
}
/* line 131, ../scss/base.scss */
header nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 101px;
  margin-right: 50px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}
/* line 141, ../scss/base.scss */
header nav .menu {
  height: auto;
  padding: 0;
  margin: 0px;
  list-style: none;
}
/* line 147, ../scss/base.scss */
header nav .menu li {
  -webkit-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  float: left;
}
/* line 151, ../scss/base.scss */
header nav .menu li:hover {
  -webkit-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  background: #272426;
}
/* line 156, ../scss/base.scss */
header nav .menu li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 101px;
  color: white;
}
/* line 167, ../scss/base.scss */
header nav .menu li .is-active {
  background: #272426;
}

/* line 176, ../scss/base.scss */
footer {
  height: 120px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #736c70), color-stop(95%, #272426));
  background: -webkit-linear-gradient(bottom, #736c70 0%, #272426 95%);
  background: -moz-linear-gradient(bottom, #736c70 0%, #272426 95%);
  background: -o-linear-gradient(bottom, #736c70 0%, #272426 95%);
  background: linear-gradient(bottom, #736c70 0%, #272426 95%);
}
/* line 182, ../scss/base.scss */
footer .lisp-logo img {
  width: 100px;
  float: right;
  padding: 20px 50px;
}
