@font-face {
  font-family: 'Open Sans Condensed';
  src: url("OpenSans-CondLight.ttf");
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url("OpenSans-CondBold.ttf");
}

/* line FFS */
body footer {
  padding: 10px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #736c70), color-stop(95%, #272426));
  background: -webkit-linear-gradient(bottom, #736c70 0%, #272426 95%);
  background: -moz-linear-gradient(bottom, #736c70 0%, #272426 95%);
  background: -o-linear-gradient(bottom, #736c70 0%, #272426 95%);
  background: linear-gradient(bottom, #736c70 0%, #272426 95%);
  text-align: right;

  /* position: fixed; */
  /* bottom:0; */
  /* left:0; */
  /* right:0; */
}

body #wrapper {
    font-family: sans-serif;
    padding: 20px 75px 0px 75px;
    /* height: 100%; */
}

#wrapper h3, #wrapper li {
    padding: 0 10px 0 10px;
}

.btn {
  border: 1px solid #556f8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c9fb1), color-stop(100%, #415d79));
  background: -webkit-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -moz-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -o-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  cursor: pointer;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  text-align: center;
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-box-shadow: 0px 0px 5px #999999;
}

/*#nav */.btn {
  width: 150px;
  height: 40px;
  padding: 10px 15px;
  margin: 5px 2px;
}

.conf td {
    width: 55%;
    padding: 0 20px;
}

.conf select {
    width: 100%;
}

#wrapper input {
    width: 100%;
}

#wrapper .btn {
    width: 100%;
}

.avatar {
    width: 150px;
    padding: 10px 10px 10px 10px;
}

.description {
    margin: 130px;
}

table.fast-start {
    width: 100%;
    border: 1px dashed #736c70;
    padding: 10px 0 10px 0;
    margin-top: 20px;
}

/* line 14, ../scss/base.scss */
body {
  width: 100%;
  margin: 0;
  color: white;
  background: #272426;
  font-family: "Open Sans Condensed", sans-serif, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
/* line 13, ../scss/base.scss */
body fieldset {
  padding: 30px;
  border: none;
}
/* line 17, ../scss/base.scss */
body fieldset label {
  letter-spacing: 0.8px;
  color: white;
}
/* line 31, ../scss/base.scss */
body fieldset legend {
  line-height: 0.5em;
  color: white;
  font-size: 1.7em;
  font-family: 'Open Sans Condensed', sans-serif, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 40, ../scss/base.scss */
body [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
/* line 50, ../scss/base.scss */
body input[type="text"] {
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
}
/* line 60, ../scss/base.scss */
body input[type="text"]:focus {
  box-shadow: 0 1px 0 #2392f3 inset, 0 -1px 0 #2392f3 inset, 1px 0 0 #2392f3 inset, -1px 0 0 #2392f3 inset, 0 0 4px rgba(35, 146, 243, 0.5);
  outline: none;
}
/* line 65, ../scss/base.scss */
body input[type="text"]::-webkit-input-placeholder {
  color: #999999;
}
/* line 69, ../scss/base.scss */
body input[type="text"]:-moz-placeholder {
  color: #999999;
}
/* line 74, ../scss/base.scss */
body .is-hidden {
  display: none;
}

/* line 79, ../scss/base.scss */
.key, [id*="keyOnGrid"], .keyHover {
  color: white;
  font: arial;
  text-decoration: none;
  text-align: center;
  background: black;
  /*background: #000;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
  -moz-box-shadow: inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
  box-shadow: inset 0 0 2px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
  border-top: 1px solid whitesmoke;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-shadow: 0px 1px 0px whitesmoke;
}

/* line 95, ../scss/base.scss */
.keyHover {
  display: none;
  position: absolute;
  background-color: #1c9fb1;
  opacity: 0.8;
  border: 2px solid white;
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

/* line 107, ../scss/base.scss */
.key {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 10px 0 20px 0;
}

/* line 115, ../scss/base.scss */
header {
  background-color: #1c9fb1;
}
/* line 118, ../scss/base.scss */
header .site-title {
  display: inline-block;
  padding: 40px 20px 40px 70px;
  margin: 0;
  line-height: 0.8em;
  color: white;
  font-size: 1.7em;
  font-family: 'Open Sans Condensed', sans-serif, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 129, ../scss/base.scss */
header .logo {
  background: url("../img/log.png") no-repeat;
  height: 92px;
  width: 200px;
}
/* line 135, ../scss/base.scss */
header nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 101px;
  margin-right: 50px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}
/* line 145, ../scss/base.scss */
header nav .menu {
  height: auto;
  padding: 0;
  margin: 0px;
  list-style: none;
}
/* line 151, ../scss/base.scss */
header nav .menu li {
  -webkit-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  float: left;
}
/* line 155, ../scss/base.scss */
header nav .menu li:hover {
  -webkit-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 250ms ease-in-out;
  background: #272426;
}
/* line 160, ../scss/base.scss */
header nav .menu li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 101px;
  color: white;
}
/* line 162, ../scss/base.scss */
header nav .menu li .is-active {
  background: #272426;
}

/* line 171, ../scss/base.scss */
/* footer { */
/*   height: 120px; */
/*   background: #736c70; */
/*   padding-right: 0; */
/* } */
/* /\* line 176, ../scss/base.scss *\/ */
/* footer .lisp-logo img { */
/*   width: 100px; */
/*   float: right; */
/*   padding: 20px 50px; */
/* } */
