@charset "UTF-8";
@font-face {
  font-family: 'Open Sans Condensed';
  src: url("OpenSans-CondLight.ttf");
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url("OpenSans-CondBold.ttf");
}

/* line 5, ../scss/creator.scss */
.configuration {
  position: relative;
  display: block;
  padding: 100px 50px;
  background: url("../img/keyboard-bw.jpg") #4f5153;
  background-position: center top;
  background-size: 100% auto;
}
/* line 13, ../scss/creator.scss */
.configuration form {
  display: inline-block;
}
/* line 19, ../scss/creator.scss */
.configuration .save-section {
  display: inline-block;
  float: right;
}
/* line 24, ../scss/creator.scss */
.configuration .save-section .save-buttons {
  display: block;
}
/* line 28, ../scss/creator.scss */
.configuration .save-section .btn-save, .configuration .save-section #fileinput::before {
  border: 1px solid #556f8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c9fb1), color-stop(100%, #415d79));
  background: -webkit-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -moz-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -o-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  cursor: pointer;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  text-align: center;
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-box-shadow: 0px 0px 5px #999999;
}
/* line 41, ../scss/creator.scss */
.configuration .save-section .btn-save {
  width: 125px;
  height: 40px;
  padding: 10px 15px;
  vertical-align: top;
}
/* line 48, ../scss/creator.scss */
.configuration .save-section #fileinput {
  margin-left: 25px;
  height: 40px;
  color: transparent;
}
/* line 53, ../scss/creator.scss */
.configuration .save-section #fileinput::-webkit-file-upload-button {
  visibility: hidden;
}
/* line 57, ../scss/creator.scss */
.configuration .save-section #fileinput::before {
  content: 'Wczytaj klawiaturę';
  display: block;
  padding: 12px 15px;
  width: 170px;
  height: auto;
}

/* line 68, ../scss/creator.scss */
.grid-container {
  background: #736c70;
  padding-right: 0;
}
/* line 75, ../scss/creator.scss */
.grid-container .grid {
  height: 0;
  width: 0;
  background: #736c70;
}
/* line 80, ../scss/creator.scss */
.grid-container .grid [id*="keyOnGrid"] {
  cursor: pointer;
}
/* line 84, ../scss/creator.scss */
.grid-container .grid [id*="keyOnGrid"]:active {
  color: #888888;
  background: black;
  /*margin: 7px 5px 3px;*/
  margin: 1px 0 0 0;
  -webkit-box-shadow: inset 0 0 2px #dddddd, 0 0 3px #333333;
  -moz-box-shadow: inset 0 0 2px #dddddd, 0 0 3px #333333;
  box-shadow: inset 0 0 2px #dddddd, 0 0 3px #333333;
  /*border-top: 1px solid #eee;*/
}

/* line 97, ../scss/creator.scss */
#combos {
  padding: 45px 50px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #736c70), color-stop(95%, #272426));
  background: -webkit-linear-gradient(top, #736c70 0%, #272426 95%);
  background: -moz-linear-gradient(top, #736c70 0%, #272426 95%);
  background: -o-linear-gradient(top, #736c70 0%, #272426 95%);
  background: linear-gradient(top, #736c70 0%, #272426 95%);
}
/* line 101, ../scss/creator.scss */
#combos .add-combo {
  width: 160px;
  height: 40px;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 5px #999999;
  -moz-box-shadow: 0px 0px 5px #999999;
  box-shadow: 0px 0px 5px #999999;
  border: 1px solid #556f8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c9fb1), color-stop(100%, #415d79));
  background: -webkit-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -moz-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -o-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  cursor: pointer;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  text-decoration: none;
  cursor: pointer;
}
/* line 117, ../scss/creator.scss */
#combos .myCombo {
  padding-top: 8px;
}
/* line 120, ../scss/creator.scss */
#combos .myCombo:first-child {
  margin-top: 25px;
}
/* line 124, ../scss/creator.scss */
#combos .myCombo .composed-letter {
  margin-right: 10px;
  width: 20px;
}
/* line 129, ../scss/creator.scss */
#combos .myCombo .finger-label {
  margin: 0 0px 0 10px;
}
/* line 133, ../scss/creator.scss */
#combos .myCombo .equals-sign, #combos .myCombo .plus-sign {
  margin-right: 10px;
}
/* line 137, ../scss/creator.scss */
#combos .myCombo .combo-key {
  width: 40px;
}
/* line 141, ../scss/creator.scss */
#combos .myCombo .finger {
  width: 40px;
  margin-right: 10px;
}
/* line 147, ../scss/creator.scss */
#combos .remove {
  width: 125px;
  height: 40px;
  padding: 2px 9px;
  margin: 150px 15px 0 0;
  -webkit-box-shadow: 0px 0px 5px #999999;
  -moz-box-shadow: 0px 0px 5px #999999;
  box-shadow: 0px 0px 5px #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #556f8c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c9fb1), color-stop(100%, #415d79));
  background: -webkit-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -moz-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -o-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  cursor: pointer;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
  text-align: center;
  font-size: 12px;
}

/* line 165, ../scss/creator.scss */
#hands {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* line 172, ../scss/creator.scss */
#hands img {
  width: 100%;
  height: 100%;
}
/* line 177, ../scss/creator.scss */
#hands .hand-left, #hands .hand-right {
  text-indent: -9999px;
  margin: 50px 0;
  width: 25%;
}
/* line 183, ../scss/creator.scss */
#hands .hand-left {
  float: left;
  background: url("../img/hand-left-no.png") no-repeat 0 0;
  background-size: 100%;
}
/* line 190, ../scss/creator.scss */
#hands .hand-right {
  float: right;
  background: url("../img/hand-right-no.png") no-repeat 0 0;
  background-size: 100%;
}

/* line 198, ../scss/creator.scss */
.alertBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: black;
}

/* line 208, ../scss/creator.scss */
#alertContent {
  position: absolute;
  margin: -100px 0 0 -230px;
  width: 400px;
  padding: 30px;
  background: white;
  text-align: center;
  z-index: 99999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 218, ../scss/creator.scss */
#alertContent #closeAlertBtn {
  width: 125px;
  height: 40px;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-box-shadow: 0px 0px 5px #999999;
  border: 1px solid #556f8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c9fb1), color-stop(100%, #415d79));
  background: -webkit-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -moz-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -o-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  cursor: pointer;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
}
/* line 234, ../scss/creator.scss */
#alertContent #alert {
  margin-bottom: 30px;
}
/* line 237, ../scss/creator.scss */
#alertContent #alert .alertMessage {
  color: black;
  font-weight: bold;
}

/* line 244, ../scss/creator.scss */
#key-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: black;
}
/* line 253, ../scss/creator.scss */
#key-dialog .dialog-content {
  position: absolute;
  margin: -100px 0 0 -230px;
  width: 400px;
  padding: 30px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 263, ../scss/creator.scss */
#key-dialog .dialog-content ul {
  list-style: none;
  padding-left: 0;
}
/* line 267, ../scss/creator.scss */
#key-dialog .dialog-content ul li {
  padding-bottom: 10px;
}
/* line 270, ../scss/creator.scss */
#key-dialog .dialog-content ul li:last-child {
  margin-top: 20px;
}
/* line 276, ../scss/creator.scss */
#key-dialog .dialog-content #alphanumerical {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 281, ../scss/creator.scss */
#key-dialog .dialog-content .has-error {
  border: 2px solid #ff9494;
}
/* line 285, ../scss/creator.scss */
#key-dialog .dialog-content #error-message {
  display: none;
  color: #ff9494;
  font-weight: bold;
  font-size: 14px;
}
/* line 293, ../scss/creator.scss */
#key-dialog .dialog-content .sign-type-block label[for] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}
/* line 300, ../scss/creator.scss */
#key-dialog .dialog-content .sign-type-block label[for]:before {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 1px;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  padding: 1px;
  background-color: #f3f3f3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
/* line 316, ../scss/creator.scss */
#key-dialog .dialog-content .sign-type-block input[type=radio] {
  display: none;
}
/* line 320, ../scss/creator.scss */
#key-dialog .dialog-content .sign-type-block input[type=radio]:checked + label:before {
  content: "\2022";
  color: #1c9fb1;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}
/* line 328, ../scss/creator.scss */
#key-dialog .dialog-content .sign-type-block .sign-title {
  display: block;
}
/* line 332, ../scss/creator.scss */
#key-dialog .dialog-content .sign-type-block div {
  padding-left: 20px;
}
/* line 337, ../scss/creator.scss */
#key-dialog .dialog-content label[for="is-default-finger"] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}
/* line 344, ../scss/creator.scss */
#key-dialog .dialog-content label[for="is-default-finger"]:before {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 1px;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  padding: 2px;
  background-color: #f3f3f3;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
/* line 359, ../scss/creator.scss */
#key-dialog .dialog-content #is-default-finger {
  display: none;
}
/* line 363, ../scss/creator.scss */
#key-dialog .dialog-content #is-default-finger:checked + label:before {
  content: "\221a";
  color: #1c9fb1;
  font-size: 21px;
  text-align: center;
  line-height: 18px;
  padding: 2px;
}
/* line 372, ../scss/creator.scss */
#key-dialog .dialog-content .dialog-keys {
  margin: auto;
  width: 280px;
}
/* line 377, ../scss/creator.scss */
#key-dialog .dialog-content .key-submit, #key-dialog .dialog-content .key-remove {
  float: left;
  text-align: center;
}
/* line 384, ../scss/creator.scss */
#key-dialog .dialog-content .key-submit .btn-submit,
#key-dialog .dialog-content .key-remove .btn-remove,
#key-dialog .dialog-content .btn-save {
  width: 125px;
  height: 40px;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  -moz-box-shadow: 0px 0px 5px #999999;
  -webkit-box-shadow: 0px 0px 5px #999999;
  border: 1px solid #556f8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c9fb1), color-stop(100%, #415d79));
  background: -webkit-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -moz-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: -o-linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  background: linear-gradient(top, #1c9fb1 0%, #415d79 100%);
  cursor: pointer;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71;
}
