/* ikonki pod wykresami */
.icon {
    color: black;
	cursor: pointer;
}

.plot {
    margin-bottom: 60px;
}

.results-info h1 {
	padding: 20px 75px 0px 75px;
}

.results-info p:first-of-type {
    padding: 20px 75px 30px 75px;
}